<mc-loading *ngIf="isLoading$ | async"></mc-loading>
<!-- <div class="loading-indicator">
  <mat-spinner
    [diameter]="50"
    class="example-margin"
    *ngIf="isLoading$ | async"
    [mode]="'indeterminate'"
  >
  </mat-spinner>
</div> -->
<p></p>
<!-- <div>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isLoading$ | async"
  ></mat-progress-bar>
</div> -->

<mc-error-message *ngIf="error$ | async"></mc-error-message>

<div *ngIf="feed$ | async">
  <!-- <mc-pagination
    [total]="(feed$ | async).articlesCount"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage"
  ></mc-pagination> -->
  <!-- ? Elvis operator permit contitue porgram even field is empty -->
  <div
    class="article-preview"
    *ngFor="let article of (feed$ | async)?.articles"
  >
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" />
      </a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]">
          {{ article.author.username }}
        </a>
        <span class="date">{{ article.createdAt }}</span>
      </div>
      <div class="pull-xs-right">
        <mc-add-to-favorites
          [isFavorited]="article.favorited"
          [articleSlug]="article.slug"
          [favoritesCount]="article.favoritesCount"
        >
        </mc-add-to-favorites>
      </div>
    </div>
    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <mc-tag-list [tags]="article.tagList"></mc-tag-list>
    </a>
  </div>
  <mc-pagination
    [total]="(feed$ | async).articlesCount"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage"
  ></mc-pagination>
</div>
